.user-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-200);
  background: var(--color-background);
  padding: var(--spacing-250);
  border-radius: var(--radius-8);
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stat-label {
  margin: 0;
  color: var(--color-text-secondary);
}

.stat-value {
  margin: 0;
  margin-top: var(--spacing-50);
  color: var(--color-text-primary);
}

@media (min-width: 768px) {
  .stat-item {
    align-items: flex-start;
    text-align: left;
  }

  .user-stats {
    padding: var(--spacing-200) var(--spacing-400);
  }
}
